.checkbox-main-grid {
  justify-items: center;
  align-items: center;
  display: grid;
}

.checkbox {
  display: inline-block;
  width: 1.5rem;
  height: 1.2rem;
  border-radius: 3px;
  transition: all 150ms;
}
