.search-grid {
  display: grid;
  border: 1px solid gray;
  grid-template-columns: 2rem 20rem;
  border-radius: 2rem;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 0.5rem;
  & :focus {
    outline: none;
  }
  &:nth-child(3) {
    margin-bottom: 1rem;
  }
  @media (max-width: 400px) {
    composes: search-grid;
    grid-template-columns: 10% 90%;
  }
}

.search-icon {
  display: grid;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.search-grid input {
  border: none;
  width: 100%;
  height: 2rem;
}
