.hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;

&:focus {
  box-shadow: 0 0 0 2px dodgerblue;
}
}

.checkbox {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: 'white';
  border-radius: 3px;
  border: 1px solid dodgerblue;
  transition: all 150ms;

&.checked {
  background: 'dodgerblue';
}
}

.icon {
  fill: none;
  stroke: white;
  stroke-width: 2px;

&.visible {
  visibility: visible;
}

&.hidden {
  visibility: hidden;
}
}
