/* your styles here! */

/* you can use standard css plus anything from postcss-preset-env */

/* ref: https://preset-env.cssdb.org/ */

.two-column-grid {
  display: grid;
  grid-template-columns: auto minmax(auto, 85%);
  margin-bottom: 2rem;
}
