.top {
  text-align: center;
  margin-top: 2rem;
  display: grid;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.small-span {
  font-size: 0.9rem;
  font-weight: lighter;
  color: darkslategray;
}

.medium-span {
  font-size: 1.2rem;
  font-weight: lighter;
  color: darkslategray;
}

.margin-bottom-sm {
  margin-bottom: 1rem;
}

.large-span {
  font-size: 3rem;
  font-weight: 100;
  margin: 1rem;
}

.bottom-grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 3%;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.three-column-grid {
  grid-template-columns: auto auto auto;
}
