.name {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 1rem;
}

.default-button {
  background: none;
  background-color: none;
  cursor: pointer;
  border: none;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  text-align: unset;
  padding: 0;
  margin: 0;
}

.non-selectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.secondary-label {
  color: gray;
  font-size: small;
}

.clickable {
  cursor: pointer;
}

.margin-left-sm {
  margin-left: 0.5rem;
}
