.no-results-found {
  text-align: center;
}

.two-column-grid {
  display: grid;
  grid-template-columns: 15% 85%;
  margin-bottom: 15rem;
}

.top {
  text-align: center;
  margin-bottom: 2rem;
}

.people {
  display: grid;
  grid-template-columns: 28% 28% 28%;
  grid-column-gap: 2%;
  grid-row-gap: 1%;
  align-content: center;
  justify-content: center;
  padding: 2rem;
}

.person {
  display: grid;
  border: 1px solid lightgray;
  padding: 1rem;
  text-align: center;
}

.name {
  font-weight: bold;
  margin-top: 1rem;
}

.person .centered {
  align-self: center;
  justify-self: center;
}

.person svg {
  width: 10rem;
}

.avatar {
  vertical-align: middle;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

.treeView {
  width: 15rem;
  display: grid;
  grid-row-gap: 3%;
}

.expandableTreeItem {
  display: grid;
  grid-template-columns: 10% 90%;
  grid-row-gap: 3%;
}

.clickable {
  cursor: pointer;
}

/* todo remove */

.treeItem {
  cursor: pointer;

&.selected {
  color: dodgerblue;
}
}

.search {
  width: 20rem;
  box-sizing: border-box;
  border: 2px solid rgb(204, 204, 204);
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 1rem;
}

.secondary-label {
  color: gray;
  font-size: small;
}
