.no-results-found {
  text-align: center;
}

.two-column-grid {
  display: grid;
  grid-template-columns: 15% 85%;
  margin-bottom: 15rem;
}

.top {
  text-align: center;
  margin-bottom: 2rem;
  display: grid;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.people {
  display: grid;
  grid-template-columns: 28% 28% 28%;
  grid-column-gap: 2%;
  grid-row-gap: 1%;
  align-content: center;
  justify-content: center;
  padding: 2rem;
}

.person {
  display: grid;
  border: 1px solid lightgray;
  padding: 1rem;
  text-align: center;
}

.name {
  font-weight: bold;
  margin-top: 1rem;
}

.person .centered {
  align-self: center;
  justify-self: center;
}

.person svg {
  width: 10rem;
}

.avatar {
  vertical-align: middle;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

.treeView {
  width: 15rem;
  display: grid;
  grid-row-gap: 3%;
}

.expandableTreeItem {
  display: grid;
  grid-template-columns: 10% 90%;
  grid-row-gap: 3%;
}

.clickable {
  cursor: pointer;
}

/* todo remove */

.treeItem {
  cursor: pointer;
  &.selected {
    color: dodgerblue;
  }
}

.search-grid {
  display: grid;
  border: 1px solid gray;
  grid-template-columns: 2rem 30rem;
  border-radius: 2rem;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 0.5rem;
}

.search-grid :focus {
  outline: none;
}

.search-icon {
  display: grid;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.search-grid input {
  border: none;
  width: 100%;
  height: 2rem;
}

.secondary-label {
  color: gray;
  font-size: small;
}

.non-selectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}