.people {
  display: grid;
  align-content: center;
  justify-content: center;
  grid-template-columns: 28% 28% 28%;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  padding: 2rem;

@media (max-width: 800px) {
    composes: people;
    grid-template-columns: 40% 40%
}

@media (max-width: 450px) {
    composes: people;
    grid-template-columns: 100%
}
}

.no-results-found {
  text-align: center;
  color: darkslategray;
  font-size: small;
}
